<mat-card>Ingrese los datos del cliente</mat-card>

<form class="example-form" [formGroup]="form" (ngSubmit)="operar()">

    <div [hidden]="true">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="ID" required formControlName="id">
      </mat-form-field>
    </div>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Tarjeta" required formControlName="tarjeta">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Importe" required formControlName="importe">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="PagoUuid" required formControlName="pagoUuid">
        </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Aceptar</button>
    <button mat-raised-button color="accent" routerLink='/pago'>Cancelar</button>
  </form>
  
  <br/>
