<mat-card>Ingrese los datos del cliente</mat-card>

<form class="example-form" [formGroup]="form" (ngSubmit)="operar()">

    <div [hidden]="true">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="ID" required formControlName="id">
      </mat-form-field>
    </div>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Numero" required formControlName="numero">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="tipo" required formControlName="tipo">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="cliente" required formControlName="cliente">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="saldo" required formControlName="saldo">
        </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Aceptar</button>
    <button mat-raised-button color="accent" routerLink='/pago'>Cancelar</button>
  </form>
  
  <br/>
