<!--mat-toolbar class="encabezado">Cliente</mat-toolbar-->
<mat-toolbar>Cliente</mat-toolbar>



    <router-outlet></router-outlet>


<div class="example-container mat-elevation-z8">
  
  <!--"Buscar". keyup atiende sensa tecla precinada-->
  <div class="example-header">
    <mat-form-field>           <!--Filtrar tx-->
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar cliente">
    </mat-form-field>
  </div>

  <!--"Tabla"-->
  <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="cliente_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cliente_id}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nombre}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="apellido">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.apellido}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="documento">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Documento </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.documento}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Created </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.created | date:'dd-MM-yyyy'}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Update </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.update}} </mat-cell>
  </ng-container>
  
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
       
        <mat-cell *matCellDef="let row">
          <!--[routerLink]=anda a url edición y pasa del objeto en row, el campo cliente_id. hacer query con el  -->
          <button mat-button color="primary" [routerLink]="['edicion',row.cliente_id]"> Actualizar </button>
          <button mat-button color="accent" (click)="eliminar(row)">Eliminar</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
 <!--evento page, cuando detecta cambio en pgs, dispara metodo mostrarMas($event) -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator>

</div>
<br/>
<button mat-fab color="accent" style="float: right" routerLink='/cliente/nuevo'>
<mat-icon>create</mat-icon>
</button>
