<div class="example-container">    
   
    <mat-toolbar color="primary" class="example-toolbar"> <!--barra azul cabecera-->
        
        <button mat-icon-button (click)="sidenav.toggle()"> <!---->
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        
        <h1 class="example-app-name">CinePago</h1>
        
        <span class="example-spacer"></span> <!--poner a extremos 3 puntos y título de barra azu cabecera -->
        
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        
        <mat-menu #menu="matMenu">
        
            <button mat-menu-item routerLink="/perfil">
                <mat-icon>account_box</mat-icon>
                <span>Mi Perfil</span>
            </button>
        
            <button mat-menu-item routerLink="/login">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        
        </mat-menu>
        
    </mat-toolbar>
   
    <mat-sidenav-container class="example-sidenav-container">

        <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="width: 200px">
    
            <img src="assets/logoG.png" width="64">
            <!--mat-divider></mat-divider-->

            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/buscar" style="cursor: pointer">
                <mat-icon>search</mat-icon>
               <span>Buscar</span> 
            </button>

            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/registrar" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Registrar</span>
            </button>

            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/cliente" style="cursor: pointer">
                <mat-icon>perm_identity</mat-icon>
                <span>Cliente</span>
            </button>
            
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/tarjeta" style="cursor: pointer">
                <mat-icon>credit_card</mat-icon>
                <span>Tarjeta</span>                         
            </button>   
            
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pago" style="cursor: pointer">
                <mat-icon>account_balance</mat-icon>
                <span>Pago</span>
            </button>
            
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/reporte" style="cursor: pointer">
                <mat-icon>assessment</mat-icon>
                <span>Reporte</span>
            </button>

        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    
    </mat-sidenav-container>
     
</div>