<!--mat-toolbar class="encabezado">Cliente</mat-toolbar-->
<mat-toolbar>Tarjeta</mat-toolbar>

<div class="example-container mat-elevation-z8">

  <router-outlet *ngIf ="route.children.lenght !==0"></router-outlet>

  <div class="example-header">
    <mat-form-field>           <!--Filtrar tx-->
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar tarjeta">
    </mat-form-field>
  </div>

  <!--"Tabla"-->
  <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="tarjeta_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tarjeta_id}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Numero </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.numero}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cliente">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.cliente.cliente_id}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="saldo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Saldo </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.saldo }} </mat-cell>
    </ng-container>

      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Created </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.created | date:'dd-MM-yyyy'}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Update </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.update}} </mat-cell>
  </ng-container>
  
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
       
        <mat-cell *matCellDef="let row">
          <!--[routerLink]=anda a url edición y pasa del objeto en row, el campo cliente_id. hacer query con el  -->
          <button mat-button color="primary" [routerLink]="['edicion',row.tarjeta_id]"> Actualizar </button>
          <button mat-button color="accent" >Eliminar</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
 <!--evento page, cuando detecta cambio en pgs, dispara metodo mostrarMas($event) -->
  <!--mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator-->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>

</div>
<button mat-fab color="accent" style="float: right; margin-right: 20px" routerLink='/tarjeta/nuevo'>
<mat-icon>create</mat-icon>
</button>
