<mat-card>Ingrese los datos del cliente</mat-card>

<br/><!--form es instalcia de formulario, manipulado en el comp.ts, evento ngSubmit llama operr cuando hago cick en bton -->
<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">
  
  <div [hidden]="true"> <!--Campo oculto-->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id"> <!--formControlName llama y vincula a instancia de formulario "form"-->
    </mat-form-field>
  </div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" required formControlName="nombre">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellido" required formControlName="apellido">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Documento" required formControlName="documento" type="number" maxlength="8">
  </mat-form-field>
                                                              
  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid"> <!--Desabilitado si apodo sea invalido-->    
    <span>Aceptar</span>
  </button>

  <button mat-raised-button color="accent" routerLink='/cliente' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>

<br/>