<!--mat-toolbar class="encabezado">Cliente</mat-toolbar-->
<mat-toolbar>Pago</mat-toolbar>

<div class="example-container mat-elevation-z8">

  <router-outlet *ngIf ="route.children.lenght !==0"></router-outlet>

  <div class="example-header">
    <mat-form-field>           <!--Filtrar tx-->
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar pago">
    </mat-form-field>
  </div>

  <!--"Tabla"-->
  <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="pago_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.pago_id}} </mat-cell>
      </ng-container>
        
      <ng-container matColumnDef="tarjeta">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tarjeta </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tarjeta.tarjeta_id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="importe">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Importe </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.importe}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pagoUuid">
        <mat-header-cell *matHeaderCellDef mat-sort-header> pagoUuid </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.pago_uuid}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Created </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.created | date:'dd-MM-yyyy'}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Updated </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.updated}} </mat-cell>
    </ng-container>
  
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
       
        <mat-cell *matCellDef="let row">
          <!--[routerLink]=anda a url edición y pasa del objeto en row, el campo cliente_id. hacer query con el  -->
          <button mat-button color="primary" [routerLink]="['edicion',row.pago_id]"> Actualizar </button>
          <button mat-button color="accent" >Eliminar</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
 <!--evento page, cuando detecta cambio en pgs, dispara metodo mostrarMas($event) -->
  <!--mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator-->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>

</div>
<br/>
<button mat-fab color="accent" style="float: right" routerLink='/pago/nuevo'>
<mat-icon>create</mat-icon>
</button>
